* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: arial;
}

body {
  background: linear-gradient(to bottom, #2980b9, #2c3e50);
  display: flex;
  justify-content: center;
  padding-top: 200px;

}

.bg-name{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(96, 201, 224);
  opacity: 0.1;
  font-size: 120px;
}

.app {
  padding: 40px ;
  border-radius: 5px;
  background-color:rgba(44, 62, 80,.4);
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-width: 500px;
  max-width: 800px;
  color: white;
}
.app__title{
  text-align: center;
  line-height: 25px;
  margin-bottom: 20px;
  font-size: 22px;
}
.app__inner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
    position: relative;
}
.app__form {
  padding: 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}
.app__form input {
  height: 30px;
  padding: 5px;
  border-radius: 4px;
}
.app__form input[type="url"]{
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 2px solid grey;

}
.app__form input[type="url"]::placeholder{
  color: rgb(179, 179, 179);
  
}
.app__form input[type="submit"]{
  border: none;
  cursor: pointer;
  padding: 0 30px;
}
.app__form input[type="submit"]:hover{
  background-color: #cccccc;
}

.app__output{
  background-color: white;
  padding: 20px;
  color:grey;
  border-radius: 4px;
}
.app__output>div{
  margin-bottom: 10px;
}
.app__output-full{
  word-break: break-all;
  }
.app__output-full a{
color: grey;
}
.app__output-message{
  font-size: 12px;
  color: red;
}
.app__home{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.svg-path{
  fill:white;
}

.svg-img{
  display: block;
  height: 25px;
  width:  25px;

}
.svg-img:hover .svg-path{
  fill: rgb(222, 255, 35);
}
.app__output-links-ip-links,
.app__output-links-sid-links{
display: flex;
flex-direction: column;
}
.app__output-links-ip-link,
.app__output-links-sid-link{
display: flex;
flex-direction: row;
justify-content: space-between;
font-size: 12px;
color:#a1a1a1;
}
.app__output-links-ip-date,
.app__output-links-sid-date{
padding-left: 20px;
color:#a1a1a1;
font-size: 12px;
}
.app__output-links-ip a,
.app__output-links-sid a{
  color:#a1a1a1;
}